[alias]
	co = checkout
	cob = checkout -b	# Checkout a new not yet existing branch
	ba  = branch -a		# List both remote-tracking branches and local branches.
	bd = branch -d		# Delete a branch only if it has been merged
	bD = branch -D		# Force delete a branch
	st = status
	sh = stash
	lg = log --graph --all --oneline --decorate
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	rank = shortlog -sn --no-merges		# Contributors ordered by number of merges
	dff = diff --color-words
	dffname = diff --name-only
[core]
	compression = 9
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
